/* .Pseudo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	border: 2px solid blue;
} */

.pseudoClass {
	/* border: 2px solid red; */
	/* display: flex; */
	/* align-items: center; */
	/* align-items: end; */
	justify-content: space-between;
}

/* .button {
	border: 2px solid green;
	justify-content: space-between;
	align-items: center;

} */