.game-wrapper {
	display: flex;
	flex-direction: column;
}

.display-players {
	display: flex;
	justify-content: space-between;
	padding-top: 3em;
}

.game-div {
	justify-content: center;
	align-items: center;
}
