@charset 'utf-8';

$chatHeaderHeight: 4em;

.chat {
	&-wrapper {
		display: flex;
		height: 80vh;
	}

	&-header {
		border: 2px solid white;
		background: linear-gradient(to left, #BF9CE8 10%, #FFEA95 100%) no-repeat;
		margin-bottom: -2px;
		height: $chatHeaderHeight;
		line-height: $chatHeaderHeight;
		box-sizing: border-box;

		&.bg-inverted {
			background: linear-gradient(to right, #BF9CE8 10%, #FFEA95 100%) no-repeat;
		}

		&.conv-header {
			display: flex;
			flex-direction: row;
			padding: 5px;
			align-items: center;
		}

		.push-right {
			margin-left: auto !important;
		}

		.nav-item {
			display: flex;
			margin: 0 5px;
		}

		h3 {
			padding: 10px;
			color: white;
			margin: 0;
			padding: 0;
		}
	}

	/* the message view */
	&-container {
		li {
			
		}
	}
}
