.game-modes {
	display: flex;
	flex-direction: row;
	margin-top: 5%;
}

.game-modes button {
	max-width: 70%;
}

.game-modes h3 {
	padding: 15px;
	color: white;
	text-shadow: 0 0 4px var(--color-yellow);
	font-size: 2em;
	height: 10%;
}

.choose {
	border: 2px solid white;
    border-radius: 20px;
    background: linear-gradient(to right, var(--color-blue) 10%, var(--color-light-pink) 100%) no-repeat;
	width: 20%;
	margin: auto 2%;
	overflow: hidden;
}

.choose h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.normal-mode {
	border: 2px solid white;
    border-radius: 20px;
	background-color: var(--color-blue);
	width: 40%;
}

.special-mode {
	border: 2px solid white;
    border-radius: 20px;
	background-color: var(--color-light-pink);
	width: 40%;
}

.box-pong {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.random-choice {
	padding-top: 10%;
}

.user-choice {
	border-top: 2px solid white;
	padding-top: 20%;
}

.box-pong .mainBtn {
	margin: 1em 0;
}

.no-border {
	border-top: none;
}

.random-choice, .controls_info, .user-choice {
	margin: 0 1em;
}

.userList {
	font-family: "Short Stack";
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background: transparent;
    font-size: 1em;
    color: #333;
    text-shadow: 0 0 4px var(--color-yellow);
	max-width: 15em;
	width: 100%;
	display: block;
	margin: auto;
}
