/*
    minimum: 16px (small screens)
    5% of the viewport width (middle)
    maximum: 28px (large screens)
*/
.logo {
    color: white; 
    padding: 5px 10px; 
    margin: 5px 10px;
    font-size: calc(18px + 0.390625vw);
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    z-index: 1000;
    backdrop-filter: blur(5px);
}